{{!-- for navigation --}}
<div id="team" style=" display: block; margin-top: -13px; height: 50px;"></div>

<div class="row container-fluid">
    <h2 style="font-weight: bold; color:var(--text-color); padding-bottom:2rem;"> OUR TEAM</h2>
    <div class="col-lg-3 mb-4">
        {{!-- <svg class="bd-placeholder-img rounded-circle" width="120" height="120" xmlns="http://www.w3.org/2000/svg"
            role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false">
            <title>Placeholder</title>
            <rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777"
                dy=".3em">140x140</text>
        </svg> --}}
        
        {{!-- in place of svg we use img tag --}}
        <img src="/membersProfile/pawan.jpeg" alt="Pawan" class="profile">

        <h4 style="font-weight="heavy,extra-bold";">PRESIDENT</h4>
        <p>Pavan Dharimireddy</p>
        <div class="social-icons">

            <a href="/" target="_blank">
                <i class="fa fa-instagram instagram"></i>
            </a>
            <a href="https://www.linkedin.com/in/pavandharimireddy/" target="_blank">
                <i class="fa fa-linkedin-square linkedIn"></i>
            </a>
            {{!-- Email -- pavandharimireddy.999@gmail.com --}}
            <a href="mailto:pavandharimireddy.999@gmail.com" target="_blank">
                <i class='far fa-envelope facebook'></i>
            </a>
        </div>
    </div><!-- /.col-lg-4 -->


    <div class="col-lg-3 mb-4">
        {{!-- <svg class="bd-placeholder-img rounded-circle" width="120" height="120" xmlns="http://www.w3.org/2000/svg"
            role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false">
            <title>Placeholder</title>
            <rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777"
                dy=".3em">140x140</text>
        </svg> --}}

        {{!-- in place of svg we use img tag --}}
        <img src="/membersProfile/achyuth.jpeg" alt="Achyuth" class="profile">


        <h4 style=" font-weight="heavy,extra-bold";">VICE PRESIDENT</h4>
        <p>Bhavanam Achyuth Reddy</p>
        <div class="social-icons">

            <a href="https://www.instagram.com/achyuthreddybhavanam/" target="_blank">
                <i class="fa fa-instagram instagram"></i>
            </a>
            <a href="/" target="_blank">
                <i class="fa fa-linkedin-square linkedIn"></i>
            </a>

            {{!-- EMAIL : bhavanamachyuthreddy@gmail.com --}}
            <a href="mailto:bhavanamachyuthreddy@gmail.com" target="_blank">
                <i class='far fa-envelope facebook'></i>
            </a>
        </div>
    </div><!-- /.col-lg-4 -->

    <div class="col-lg-3 mb-4">
        {{!-- <svg class="bd-placeholder-img rounded-circle" width="120" height="120" xmlns="http://www.w3.org/2000/svg"
            role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false">
            <title>Placeholder</title>
            <rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777"
                dy=".3em">140x140</text>
        </svg> --}}

        {{!-- in place of svg we use img tag --}}
        <img src="/membersProfile/shashank.jpeg" alt="Shashank" class="profile">


        <h4 style=" font-weight="heavy,extra-bold";">TREASURER</h4>
        <p>Shashank Chauhan</p>
        <div class="social-icons">

            <a href="https://instagram.com/s_ha_s_ha_nk_?utm_medium=copy_link" target="_blank">
                <i class="fa fa-instagram instagram"></i>
            </a>
            <a href="https://www.linkedin.com/in/shashank-chauhan-157199200" target="_blank">
                <i class="fa fa-linkedin-square linkedIn"></i>
            </a>
            {{!-- Email---->shashankchauhan12345@gmail.com --}}
            <a href="mailto:shashankchauhan12345@gmail.com" target="_blank">
                <i class='far fa-envelope facebook'></i>
            </a>
        </div>
    </div><!-- /.col-lg-4 -->

    <div class="col-lg-3 mb-4">
        {{!-- <svg class="bd-placeholder-img rounded-circle" width="120" height="120" xmlns="http://www.w3.org/2000/svg"
            role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false">
            <title>Placeholder</title>
            <rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777"
                dy=".3em">140x140</text>
        </svg> --}}

        {{!-- in place of svg we use img tag --}}
        <img src="/membersProfile/aditya.jpeg" alt="Aditya" class="profile">


        <h4 style=" font-weight="heavy,extra-bold";">WEB MASTER</h4>
        <p>Aditya Kumar Gupta</p>
        <div class="social-icons">

            <a href="https://www.instagram.com/_aadiraj_/" target="_blank">
                <i class="fa fa-instagram instagram"></i>
            </a>
            <a href="https://www.linkedin.com/in/aditya101rxl/" target="_blank">
                <i class="fa fa-linkedin-square linkedIn"></i>
            </a>
            {{!-- Email--> aditya.btech.ece.19@nitap.ac.in --}}
            <a href="mailto:aditya.btech.ece.19@nitap.ac.in" target="_blank">
                <i class='far fa-envelope facebook'></i>
            </a>
        </div>
    </div><!-- /.col-lg-4 -->

    <div class="col-lg-3 mb-4">
        {{!-- <svg class="bd-placeholder-img rounded-circle" width="120" height="120" xmlns="http://www.w3.org/2000/svg"
            role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false">
            <title>Placeholder</title>
            <rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777"
                dy=".3em">140x140</text>
        </svg> --}}

        {{!-- in place of svg we use img tag --}}
        <img src="/membersProfile/darshu.jpeg" alt="Darshita" class="profile">


        <h4 style="font-weight="heavy,extra-bold";">STUDENT COORDINATOR</h4>
        <p>Darshita Jhunjhunwala</p>
        <div class="social-icons">

            <a href="https://www.instagram.com/darshu_jjw/" target="_blank">
                <i class="fa fa-instagram instagram"></i>
            </a>
            <a href="https://www.linkedin.com/in/darshita-jhunjhunwala-23412a208" target="_blank">
                <i class="fa fa-linkedin-square linkedIn"></i>
            </a>
            {{!-- EMAIL ---> darshita.btech.ece.19@nitap.ac.in  --}}
            <a href="mailto:darshita.btech.ece.19@nitap.ac.in" target="_blank">
                <i class='far fa-envelope facebook'></i>
            </a>
        </div>
    </div><!-- /.col-lg-4 -->

    <div class="col-lg-3 mb-4">
        {{!-- <svg class="bd-placeholder-img rounded-circle" width="120" height="120" xmlns="http://www.w3.org/2000/svg"
            role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false">
            <title>Placeholder</title>
            <rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777"
                dy=".3em">140x140</text>
        </svg> --}}

        {{!-- in place of svg we use img tag --}}
        <img src="/membersProfile/anamka.jpeg" alt="Anamika" class="profile">

        <h4 style=" font-weight="heavy,extra-bold";">STUDENT COORDINATOR</h4>
        <p>Anamika</p>
        <div class="social-icons">

            <a href="/" target="_blank">
                <i class="fa fa-instagram instagram"></i>
            </a>
            <a href="https://www.linkedin.com/in/anamkaa/" target="_blank">
                <i class="fa fa-linkedin-square linkedIn"></i>
            </a>
            <a href="mailto:anamika.btech.ece.19@nitap.ac.in" target="_blank">
                <i class='far fa-envelope facebook'></i>
            </a>
        </div>
    </div><!-- /.col-lg-4 -->

    <div class="col-lg-3 mb-4">
        {{!-- <svg class="bd-placeholder-img rounded-circle" width="120" height="120" xmlns="http://www.w3.org/2000/svg"
            role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false">
            <title>Placeholder</title>
            <rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777"
                dy=".3em">140x140</text>
        </svg> --}}

        {{!-- in place of svg we use img tag --}}
        <img src="/membersProfile/priya.jpeg" alt="Priya" class="profile">

        <h4 style=" font-weight="heavy,extra-bold";">STUDENT COORDINATOR</h4>
        <p>Priya Sinha</p>
        <div class="social-icons">

            <a href="https://www.instagram.com/_pikachu_143_p/" target="_blank">
                <i class="fa fa-instagram instagram"></i>
            </a>
            <a href="/" target="_blank">
                <i class="fa fa-linkedin-square linkedIn"></i>
            </a>
            {{!-- Email--> priya.btech.ece.20@nitap.ac.in --}}
            <a href="mailto:priya.btech.ece.20@nitap.ac.in" target="_blank">
                <i class='far fa-envelope facebook'></i>
            </a>
        </div>
    </div><!-- /.col-lg-4 -->

    <div class="col-lg-3 mb-4">
        {{!-- <svg class="bd-placeholder-img rounded-circle" width="120" height="120" xmlns="http://www.w3.org/2000/svg"
            role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false">
            <title>Placeholder</title>
            <rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777"
                dy=".3em">140x140</text>
        </svg> --}}

        {{!-- in place of svg we use img tag --}}
        <img src="/membersProfile/bindhu.jpg" alt="Bindhu" class="profile">

        <h4 style="font-weight="heavy,extra-bold";">STUDENT COORDINATOR</h4>
        <p>Lankapalli Bindhu</p>
        <div class="social-icons">

            <a href="https://www.instagram.com/minny_/" target="_blank">
                <i class="fa fa-instagram instagram"></i>
            </a>
            <a href="/" target="_blank">
                <i class="fa fa-linkedin-square linkedIn"></i>
            </a>
            {{!-- Email--> lankapalli.btech.ece.20@nitap.ac.in --}}
            <a href="mailto:lankapalli.btech.ece.20@nitap.ac.in" target="_blank">
                <i class='far fa-envelope facebook'></i>
            </a>
        </div>
    </div><!-- /.col-lg-4 -->



    <div class="col-lg-3 mb-4">
        {{!-- <svg class="bd-placeholder-img rounded-circle" width="120" height="120" xmlns="http://www.w3.org/2000/svg"
            role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false">
            <title>Placeholder</title>
            <rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777"
                dy=".3em">140x140</text>
        </svg> --}}

        {{!-- in place of svg we use img tag --}}
        <img src="/membersProfile/kiran.jpeg" alt="Kiran" class="profile">

        <h4 style="font-weight="heavy,extra-bold";">STUDENT COORDINATOR</h4>
        <p>Bukya Uday Kiran Rathod</p>
        <div class="social-icons">

            <a href="https://www.instagram.com/_u.k.r__/" target="_blank">
                <i class="fa fa-instagram instagram"></i>
            </a>
            <a href="https://www.linkedin.com/in/uday-kiran-rathod-b-86689820a" target="_blank">
                <i class="fa fa-linkedin-square linkedIn"></i>
            </a>
            {{!-- Email--> udaykiranrathod2003@gmail.com --}}
            <a href="mailto:udaykiranrathod2003@gmail.com" target="_blank">
                <i class='far fa-envelope facebook'></i>
            </a>
        </div>
    </div><!-- /.col-lg-4 -->


</div>