{{!-- for navigation --}}
<div id="message" style=" display: block; margin-top: -31px; height: 35px;"></div>

<div class="message">
    <div class="card respose">
        <div class="card-body">
            <h2 class="card-title" style="font-weight: bold;">Our Vision</h2>
            <p class="card-text"><i><b>“A little progress each day adds up to big results.” </b></i></p>
        </div>
    </div>
    <div class="card respose">
        <img class="card-img-top" src="/membersProfile/abc.jpeg" alt="Prof. Pinakeshwar Mahanta">
        <div class="card-body">
            <h5 class="card-title" style="font-weight: bold;">Director's Message</h5>
            <p class="card-text">Dear Students and Faculties,</p>
            <p class="card-text">I would like to congratulate the students for taking active part in establishing the
                Electronics & Communication Engineering Students Society (ECESS). Nonetheless, a joint effort from the
                faculties and staffs have culminated in establishing the departmental society. Since inception NIT
                Arunachal Pradesh has been striving for perfection in imparting knowledge through best practices in
                academia. ECESS will be an impetus not only in imparting quality education but also to established
                quality research outputs on cutting edge topics.</p>
            <p class="card-text">I am proud to state that NIT Arunachal Pradesh has been placed in Band A (rank between
                11-25) in ARIIA rankings 2020 among the category of Institute of National importance, central
                universities and CFTIs. In addition to that, Institute has secured 200th rank in NIRF 2020 rankings.
                Institute has signed 15 MoU’s at National and International level keeping in mind student’s future and
                to help them in accommodating the technological revolution. </p>
            <p class="card-text">I believe that through ECESS you will have a platform to learn, explore, and engage to
                participate in an exciting journey of discovery and innovation. </p>
            <p class="card-text">I wish my best wishes to the Electronics & Communication Engineering Student Society.
            </p>
            <p class="card-text"> <span style="color: crimson;">Email : </span>director@nitap.ac.in</small></p>
        </div>
    </div>
    <div class="card respose">
        <img class="card-img-top" src="/membersProfile/Prof.-S-Metya.jpg" alt="Prof. S Metya">
        <div class="card-body">
            <h5 class="card-title" style="font-weight: bold;">HoD's Message</h5>
            <p class="card-text">Dear Students,</p>
            <p class="card-text">Greetings from Electronics & Communication Engineering Student Society. </p>
            <p class="card-text">Nelson Mandela once quoted <i><b>“The greatest glory in living lies not in never
                        falling, but
                        in rising every time we fall.”</b></i>&nbsp; With this esteemed vision for all the members of my
                ECESS family, I look
                forward to each one of you to strive ahead to fulfil your dreams with full compassion. I urge you all to
                move ahead as one unit and touch the peak you deserve in your respective career. Accordingly, we can
                grow and only grow if we are united and show hunger to achieve the vision. I pray and believe that our
                mutual growth will initiate a strong foundation of tremendous future possibilities. I henceforth want
                you all to be part of this momentous and significant organisation by contributing each day. You are the
                future and we trust your potential. </p>
            <p class="card-text"> <span style="color: crimson;">Email : </span>smetya@nitap.ac.in</small></p>
        </div>
    </div>
    <div class="card respose">
        <img class="card-img-top" src="/membersProfile/pawan2.jpeg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title" style="font-weight: bold;">Society President's Message</h5>
            <p class="card-text">Dear Students,</p>
            <p class="card-text"> <i><b>"FAILURE DOESN'T MEAN THE GAME IS OVER, IT MEANS TRY AGAIN WITH
                        EXPERIENCE"</b></i></p>
            <p class="card-text">It is my greatest honour and privilege to serve the Electronics and Communication
                Engineering Student Society(ECESS) of NIT Arunachal Pradesh
                as your 2021-2022 president.I would like to express my deepest gratitude to all the councils for their
                stewardships and magnificent contributions and achievements in the ECESS.</p>
            <p class="card-text">ECESS works hard throughout the year to ensure the activities and events to enhance
                the student’s career development. ECESS keeps you update with the modern trends and innovation in
                Electronics and Communication Engineering.
            </p>
            <p class="card-text">Your active participation and presence is significant addition for the development of
                ECESS.</p>
            <p class="card-text"> <span style="color: crimson;">Email : </span>pavandharimireddy.999@gmail.com</small>
            </p>
        </div>
    </div>
</div>