<nav class="navbar navbar-expand-md navbar-light sticky-top " style="background-color: #A855F7;">
    <a class="navbar-brand" href="/" style="margin-left: 17px;">
        <img src="images/LogoECESS.png" class="d-inline-block align-top" style="border-radius: 50%; margin: -12px 0;"
            height="70" width="70" alt="logo">
    </a>

    <button id="collapseBtn" class="navbar-toggler" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarToggler">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link js-scroll-trigger" href="#home" style="margin-left: 17px;">Home</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link js-scroll-trigger" href="#event" style="margin-left: 17px;">Events</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link js-scroll-trigger" href="#message" style="margin-left: 17px;">Message</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link js-scroll-trigger" href="#gallery" style="margin-left: 17px;">Gallery</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link js-scroll-trigger" href="#team" style="margin-left: 17px;">Our Team</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link js-scroll-trigger" target="_blank" href="https://nitap.ac.in/"
                    style="margin-left: 17px;">NITAP(official)</a>
            </li>
        </ul>
    </div>
</nav>

<script type="text/javascript">

    let collapseBtn = document.getElementById('collapseBtn');
    let navbarToggler = document.getElementById('navbarToggler');
    let links = document.querySelectorAll('#navbarToggler a');
    links.forEach(link => {
        link.onclick = () => {
            collapseBtn.classList.add('collapsed');
            collapseBtn.setAttribute('aria-expanded', true);
            navbarToggler.classList.remove('show');
        }
    })

</script>